#ambienteJogo{
    float: left;
    width: auto;
    height: 500px;
    background: #FFF;
    border: 1px solid #a2a2a2
}

#tabelaCronometro{
    width: 140px;
    height: 132px;
}

#cronometro{
    background: url('../img/cronometro.png');
    text-align: center;
}

.contador{
    font-size: 40px;
}

.tempoCronometro{
    color: red;
    font-size: 30px;
}

#cenario{
    float: left;
    width: 600px;
    height: 500px;
    background: url('../img/cenario.png');
    background-position: bottom;
}